<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="/bower_components/todomvc-common/base.css">
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <form action="/new_todo" method="post">
          <input id="new-todo" placeholder="What needs to be done?" autofocus name="title">
        </form>
      </header>
      <!-- This section should be hidden by default and shown when there are todos -->
      <section id="main">
        <% if @todos.length > 0 %>
          <% if @all_completed %>
            <form action="/reactivate_all" method="post">
              <input id="toggle-all" type="checkbox" checked>
              <input class="toggle" type="submit" value="">
            </form>     
          <% else %>
            <form action="/complete_all" method="post">
              <input id="toggle-all" type="checkbox">
              <input class="toggle" type="submit" value="">
            </form>
          <% end %>
        <% end %>
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          <%= erb :todos %>
        </ul>
      </section>
      <!-- This footer should hidden by default and shown when there are todos -->
      <section id="foot">
        <%= erb :footer %>
      </section>
    </section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <!-- Remove the below line ↓ -->
      <p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
      <!-- Change this out with your name and url ↓ -->
      <p>Created by <a href="http://todomvc.com">you</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <!-- Scripts here. Don't remove this ↓ -->
    <script src="/bower_components/todomvc-common/base.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/bower_components/react/react.min.js"></script>
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <script src="/js/reactize.js"></script>
  </body>

  <script type="text/javascript">
  
  $(document).ready(function(){

    Reactize.applyDiff(document.getElementById("todo-list"), document.getElementById("todo-list"));

    $(document).on("click", ".toggle", function(element) {
      href = element.target.form.action
      $.post(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
      });
      return false
    });

    // $(window).on("update", function(){
    //   href = $('body').find('a[rel=partial_clone]').attr("href")
    //   $.get(href, function(data) {
    //     Reactize.applyDiffOnHTMLString(document.getElementById("widget_clone"), data)
    //   });
    //   return false
    // });

  });

</script>
</html>