<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="/bower_components/todomvc-common/base.css">
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="queries" hidden>
      <ul>
        <li><a rel="footer" href="/footer">footer</a></li>
      </ul>
    </div>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <form id="form-new_todo" action="/new_todo" method="post">
          <input id="new-todo" placeholder="What needs to be done?" autofocus name="title">
        </form>
      </header>
      <!-- This section should be hidden by default and shown when there are todos -->
      <section id="main">
        <% if @todos.length > 0 %>
          <% if @all_completed %>
            <form action="/reactivate_all" method="post">
              <input id="toggle-all" type="checkbox" checked>
              <input type="submit" value="">
            </form>     
          <% else %>
            <form action="/complete_all" method="post">
              <input id="toggle-all" type="checkbox">
              <input type="submit" value="">
            </form>
          <% end %>
        <% end %>
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          <%= erb :todos %>
        </ul>
      </section>
      <!-- This footer should hidden by default and shown when there are todos -->
      <section id="foot">
        <%= erb :footer %>
      </section>
    </section>
    <footer id="info">
      <p>Click to edit a todo</p>
      <!-- Remove the below line ↓ -->
      <p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
      <!-- Change this out with your name and url ↓ -->
      <p>Created by <a href="http://todomvc.com">you</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <!-- Scripts here. Don't remove this ↓ -->
    <script src="/bower_components/todomvc-common/base.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/bower_components/react/react.js"></script>
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <script src="/js/reactize.js"></script>
  </body>

  <script type="text/javascript">
  
  $(document).ready(function(){

    Reactize.applyDiff(document.getElementById("todo-list"), document.getElementById("todo-list"));
    Reactize.applyDiff(document.getElementById("foot"), document.getElementById("foot"));

    $(document).on("click", ".toggle", function(element) {
      href = element.target.form.action
      $.post(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      return false
    });

    $(document).on("click", ".destroy", function(element) {
      href = element.target.form.action
      $.post(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      return false
    });


    $(document).on("click", ".edit_me", function(element) {
      href = element.target.parentElement.href
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      return false
    });

    $(document).on("submit", "#form-new_todo", function(element) {
      href = element.currentTarget.action
      $.post(href, {"title": element.target[0].value} , function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      $("#new-todo").val("");
      return false
    });

    $(document).on("submit", ".form-edit", function(element) {
      href = element.currentTarget.action
      $.post(href, {"text": element.target[0].value} , function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      return false
    });

    $(window).on("todo-list-update", function(){
      href = $('body').find('a[rel=footer]').attr("href")
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("foot"), data)
      });
      return false
    });

  });

</script>
</html>