<div>
<% if @show_footer_and_toggle_all %>
  <% if @all_completed %>
    <form action="<%= "/#{@route}" if @route %>/reactivate_all" method="post">
      <input id="toggle-all" type="checkbox" checked="true">
      <input id="toggle-all-submit" type="submit" value="Reactivate all" />
    </form>     
  <% else %>
    <form action="<%= "/#{@route}" if @route %>/complete_all" method="post">
      <input id="toggle-all" type="checkbox">
      <input id="toggle-all-submit" type="submit" value="Complete all" />
    </form>
  <% end %>
<% end %>
</div>