<% if @todos.length > 0 %>
  <% if @all_completed %>
    <form action="/reactivate_all" method="post">
      <input id="toggle-all" type="checkbox" checked="true">
    </form>     
  <% else %>
    <form action="/complete_all" method="post">
      <input id="toggle-all" type="checkbox">
    </form>
  <% end %>
<% end %>